# Environment variables
.env

# Database files
*.db

# Python cache files
__pycache__

# Virtual environment
venv/

# Requirements
requirements.txt



## CODE 

# Specific Python files to ignore
summarizer.py
auth.py
main.py
